.App {
  max-width: 1000px;
  margin: 0 auto;
  color: var(--primary);
  padding: 20px 0px;
  text-align: center;
}

.error {
  color: white;
  background-color: red;
  padding: 20px;
  font-weight: bold;
  border-radius: 10px 10px 10px;
}

.container {
  background-color: white;
  color: var(--primary);
  border-radius: 10px 10px 10px;
  padding: 20px;
  margin: 10px;
}

.values {
  display: flex;
  flex-direction: row;
}

.value {
  padding: 15px; 
  flex-grow: 1;
}

.value__key {
  font-size: 20px;
}

.value__value {
  font-size: 40px;
  font-weight: bold;
  padding: 5px;
}