:root {
  --primary: rgb(0, 132, 255);
  --green: #00dd00;
  --red: #dd0000;
  --orange: #dd8500;
}

body {
  font-family: Arial;
  background-color: var(--primary);
  color: white;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  padding: 20px 10%;
  width: 80%;
  border-radius: 10px 10px 10px;
}